.container {
    padding: 20px;
    border: none;
    background-color: rgb(8, 87, 61);
    color: white;
    cursor: pointer;
    border-radius: 3px;

    width: max-content;
    color: white;

    font-size: 18px;
}